*.env
.env
__pycache__/
*.py[cod]
*$py.class
credential.json
.venv/
.venv*/
venv/
venv*/
ENV/
env/
build/
dist/
sdist/
*.egg
*.egg-info/
.eggs/
pip-wheel-metadata/
wheelhouse/
wheels/
*.so
*.so.*
*.pyd
*.dll
*.dylib